<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-auto">

      <br><br><br>

      <h1 class="display-6">Latest items:</h1>
      <br>

      <div *ngIf="!latestItems">
        <mat-spinner></mat-spinner>
      </div>

      <table class="table">
        <tbody>
          <tr *ngFor="let item of latestItems">
            <td><a href="javascript:void(0)" (click)="onClickViewItem(item)">{{item.name}}</a></td>
            <td>Author: {{item.owner.username}}</td>
            <td>Collection: <a href="javascript:void(0)" (click)="onClickViewCollection(item.parentCollection)">{{item.parentCollection.name}}</a></td>
          </tr>
        </tbody>
      </table>

      <br><br><br>

      <h1 class="display-6">Top 5 largest collections:</h1>
      <br>

      <div *ngIf="!largestCollections">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngFor="let collection of largestCollections">
        <a href="javascript:void(0)" (click)="onClickViewCollection(collection)">{{collection.name}}</a>
      </div>

      <br><br><br>

      <h1 class="display-6">Tag cloud:</h1>

    </div>
  </div>
</div>


<app-tag-cloud></app-tag-cloud>
